<div class="dahboard">
    <ul class="hexagon-grid-container">
        <li class="hexagon hexagon-blue">
            <div class="hexagon-inner">
                <span class="hexagon-name"> <a routerLink="/reports">Health Check</a></span>
            </div>
        </li>
        <li class="hexagon hexagon-blue">
            <div class="hexagon-inner">
                <span class="hexagon-name"> <a routerLink="reports">Trace</a></span>
            </div>
        </li>
        <li class="hexagon hexagon-blue">
            <div class="hexagon-inner">
                <span class="hexagon-name"> <a routerLink="reports">Infra Dashboard</a></span>
            </div>
        </li>
        <li class="hexagon hexagon-blue">
            <div class="hexagon-inner">
                <span class="hexagon-name"> <a routerLink="reports">Menu 4</a></span>
            </div>
        </li>
        <li class="hexagon hexagon-blue">
            <div class="hexagon-inner">
                <span class="hexagon-name"> <a routerLink="reports">Menu 4</a></span>
            </div>
        </li>
        <li class="hexagon hexagon-blue">
            <div class="hexagon-inner">
                <span class="hexagon-name"> <a routerLink="reports">Menu 4</a></span>
            </div>
        </li>
        <li class="hexagon hexagon-blue">
            <div class="hexagon-inner">
                <span class="hexagon-name"> <a routerLink="reports">Menu 4</a></span>
            </div>
        </li>
        <li class="hexagon hexagon-blue">
            <div class="hexagon-inner">
                <span class="hexagon-name"> <a routerLink="reports">Menu 4</a></span>
            </div>
        </li>
        <li class="hexagon hexagon-blue">
            <div class="hexagon-inner">
                <span class="hexagon-name"> <a routerLink="reports">Menu 4</a></span>
            </div>
        </li>
        <li class="hexagon hexagon-blue">
            <div class="hexagon-inner">
                <span class="hexagon-name"> <a routerLink="reports">Menu 4</a></span>
            </div>
        </li>
        <li class="hexagon hexagon-blue">
            <div class="hexagon-inner">
                <span class="hexagon-name"> <a routerLink="reports">Menu 4</a></span>
            </div>
        </li>
        <li class="hexagon hexagon-blue">
            <div class="hexagon-inner">
                <span class="hexagon-name"> <a routerLink="reports">Menu 4</a></span>
            </div>
        </li>
        <li class="hexagon hexagon-blue">
            <div class="hexagon-inner">
                <span class="hexagon-name"> <a routerLink="reports">Menu 4</a></span>
            </div>
        </li>
    </ul>
</div>